.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 20px;
}

ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-around;
}